.nav{
    background-color:aliceblue;
    z-index: 9;
    padding:10px;
    padding-right:50px;
    padding-left:50px;
    display:flex;
    box-shadow:0px 3px 65px 0px rgba(0,0,0,.15);
    justify-content:center;
    align-items:center;
    align-content:center;
    text-align:center;
}
.nav_top{
    position:fixed;
    top:0;
    right:0;
    left:0;
}
.logo{
    float:left;
    width:60%;
}
.logo img{
    padding:10px;
}
.nav_side{
    float: right;
    width:40%;
    margin-top:20px;
}
.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    padding-top:20px;
    color:black;
    font-weight:bold;
    font-family: cosmic ,sans-serif;
    font-size:15px;
}
.nav_side a:hover{
    color:orange;
    text-decoration:underline;
    transition:all 1s ease;
}
.main{
    background-image: url('f94c2916-6a4e-4cbc-9bc1-9f0e0f4ee46c.png');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:80vh;
}
.main .main_content{
    padding-top:100px;
    margin-left:10%;
    margin-right:10%;
}
.main .main_content h2{
    color:black;
    text-shadow:-8px 4px 8px rgba(255,255,255,0.9);
    font-size:50px;
    font-family:cosmic,sans-serif;
    font-weight:bolder;
    text-align:center;
}
.main .main_content h2 span{
    font-size: 15px;
    opacity:0.9;
    color:#FF5722;
    font-weight:400;
    line-height:20px;
    text-align:center;
}
.main .main_content .btn{
    margin-top:50px;
}
.main .main_content .btn a{
    text-decoration:none;
    margin:50px;
    padding:10px 20px;
    background-color:FF5722;
    color:white;
    font-family:cosmic,sans-serif;
    text-align:center;
    border:2px solid white;
    border-radius:10px;
}
.main .main_content .btn a:hover{
    background-color: black;
    color:orange;
    border:none;
    border-bottom:4px solid orange;
    transition:0.5s;

}
.product{
    padding-bottom:50px;
}
.product h2{
    color:black;
    font-size:35px;
    text-align:center;
    padding:20px;
}
.product .product_container{
    display:flex;
    margin-left:5%;
    margin-right:5%;
    border-radius:15px;

}
.product .product_container .item{
    width:33.33%;
    margin:10px;
    height:auto;
}
.product .product_container .item:hover{
    box-shadow:0px 3px 65px 0px rgba(0,0,0,.15);
}
.product .product_container .item .item_img{
    width:100%;
    height:250px;
    overflow:hidden;

}
.product .product_container .item .item_img img{
    width: 100%;
    height: 100%;

}
.product .product_container .item .item_content{
    text-align:center;

}
.product .product_container .item .item_content h3{
padding:10px;
font-size:15px;
font-style:;
font-family:cosmic,sans-serif;
}
.product .product_container .item .item_content p{
    padding:10px;
    font-size:15px;
    font-family:cosmic,sans-serif;
}
.product .product_container .item .item_content a{
    text-decoration:none;
    margin:50px;
    padding:10px 20px;
    background-color:#4A148C;
    color:white;
    font-family:cosmic,sans-serif;
    text-align:center;
    border:2px solid white;
    border-radius:10px;
    transition:.5s;
}
.product .product_container .item .item_content a:hover{
    background-color:black;
    color:orange;
    border:none;
    border-bottom:4px solid orange;
    transition:0.5;
}
.product .product_btn{
     text-align:center;
     margin-top:50px;
}
.product .product_btn a{
    text-decoration:none;
    margin:50px;
    padding:10px 20px;
    background-color:#4A148C;
    color:white;
    font-family:cosmic,sans-serif;
    text-align:center;
    border:2px solid white;
    border-radius:10px;
    transition:.5s;
}
.product .product_btn a:hover{
    background-color:black;
    color:orange;
    border:none;
    border-bottom:4px solid orange;
    transition:0.5;
}
.keypoint{
    padding:50px;
}
.keypoint h2{
    color:black;
    font-size:35px;
    text-align:center;
    padding:10px;
}
.keypoint .key_container{
    display:flex;
}
.keypoint .key_container .key_content{
    width:40%;
    padding:20px;
    float:left;
}
.keypoint .key_container .key_content li{
    list-style:none;
    margin:10px;
    padding:10px;
    border-left:2px solid orange;
    color:black;
    text-align:left;
    font-family:cosmic,sans-serif;
    box-shadow:0px 3px 65px 0px rgba(0,0,0,.15);
}
.keypoint .key_container .key_img{
    width:40%;
    float:right;
    margin-left:100px;
}
.keypoint .key_container .key_img img{
    width:100%;
}
.slider-frame{
    overflow:hidden;
    height:800px;
    width:1200px;
    margin-left:360px;
    margin-top:20px;
}
.slider-frame h1{
    text-align:center;
}
footer{
    background-color:#99A3A4;
    padding:50px;
}
footer .pages{
    text-align:center;
}
footer .pages h3{
    color:black;
    font-size:20px;
    font-family:cosmic, sans serif;
    padding:5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size:15px;
    font-family:cosmic, sans-serif;
}
footer .pages a:hover{
    color:white;
}
footer .doc{
    text-align:center;
}
footer .doc h3{
    color:black;
    font-size:20px;
    font-family:cosmic, sans serif;
    padding:5px;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size:15px;
    font-family:cosmic, sans-serif;
}
footer .doc a:hover{
    color:white;
}


footer .social{
    text-align:center;
}
footer .social h3{
    color:black;
    font-size:20px;
    font-family:cosmic, sans-serif;
    padding:5px;
}
footer .social a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size:15px;
    font-family:cosmic, sans-serif;
}
footer .social a:hover{
    color:white;
}


footer .contact{
    text-align:center;
}
footer .contact h3{
    color:black;
    font-size:20px;
    font-family:cosmic, sans serif;
    padding:5px;
}
footer .contact a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size:15px;
    font-family:cosmic, sans-serif;
}
footer .contact a:hover{
    color:white;
}
.team{
    padding:50px;
}
.team h2{
    color:black;
    font-size:35px;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
}
.team .team_container{
    display:flex;
}
.team .team_container .team_video{
    width:50%;
    padding:20px;
}
.team .team_container .team_video video{
    width:100%;
    border:10px solid orange;
    outline:none;
}
.team .team_container .team_content{
    width:40%;
    padding:20px;
    margin-left: 50px;
    
}
.team .team_container .team_content p{
    padding:10px;
    font-size:20px;
    font-family:cosmic,sans-serif;
}
.feed{
    background-color:antiquewhite;
}
.feed h2{
    color:black;
    font-size:35px;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
}
.feed .feed_form{
    text-align:center;
}
.feed .feed_form form{
    padding:15px;
}
.feed .feed_form form input{
    width:40%;
    margin:5px;
    padding:10px;
    outline:none;
    border:none;
}
.feed .feed_form form textarea{
    width:40%;
    margin:5px;
    padding:10px;
    outline:none;
    border:none;
}
.about_us{
    padding:100px;
}
.about_us h2{
    color:orange;
    font-size:35px;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
}
.about_us p{
    padding:10px;
    text-align:center;
    font-size:15px;
    font-family:cosmic,sans-serif;
    line-height:25px;
}
.contact_container{
    padding:100px;
}
.contact_container h2{
    color:orange;
    font-size:35px;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
}
.contact_container .g_map{
    border:10px solid orange;
}
.contact_container .contact_container{
    padding:20px;
}
.contact_container .contact_container p{
    padding:10px;
    font-size:18px;
    font-family:cosmic,sans-serif;
    line-height:25px;
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20%{left:1200px;}
    30%{left:1200px;}
    40%{left:2400px;}
    50%{left:2400px;}
    60%{left:1200px;}
    70%{left:1200px;}
    80%{left:0px;}
    90%{left:0px;}
    100%{left:0px;}
}
.slider-images{
    width:3600px;
    height:800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
}

.img-container{
    height:800px;
    width:1200px;
    position:relative;
    float:left;
}
.carousel slide{
    width:100px;
    padding-right:50px;
    padding-left:50px;
}
/* mobile view*/
@media screen and (max-width:375px){
    .product .product_container{
        display:grid;
        margin-left:5%;
        margin-right:5%;
    
    }
    .product .product_container .item{
        width:100%;
        margin:10px;
        height:auto;
    }
    .team .team_container{
        display:grid;
    }
}
.blog_data p{
    padding-left:100px;
    padding-right:100px;
    padding-top:100px;
    text-align:center;
    border:none;
    font-family:cosmic, sans serif;
    font-size:30px;
}
.blog_data h1{
    color:black;
    text-align:center;
    font-weight:bold;
}